/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/modals.css');
@import URL("https://raw.githack.com/Controlfreak707/PowerAnimations/master/PowerAnimations.css");
@import URL("https://aeethon.github.io/Github-Theme/hellside-team.css");
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/



.theme-light {

	--text-normal: #fcfcfc;
	--text-muted: #2d5774;
	--text-link: #0077ff;
	--channels-default: #454b53;
	--interactive-normal: #4f5660;
	--interactive-hover: #2e3338;
	--interactive-active: #171718;
	--interactive-muted: #c7ccd1;
	--background-primary: rgb(229, 228, 247);
  --background-secondary: #e5e4fd;
  --background-secondary-alt: #c4c4c7;
  --background-tertiary: rgb(44, 44, 44);
	--background-accent: #747f8d;
	--background-floating: #fff;
	--background-mobile-primary: #f8f9f9;
	--background-mobile-secondary: #fff;
	--background-modifier-hover: rgba(116,127,141,0.08);
	--background-modifier-active: rgba(116,127,141,0.16);
	--background-modifier-selected: rgba(116,127,141,0.24);
	--background-modifier-accent: rgba(6,6,7,0.08);
	--background-mentioned: rgba(250,166,26,0.1);
	--background-mentioned-hover: rgba(250,166,26,0.2);
	--background-message-hover: rgba(6,6,7,0.02);
	--background-help-warning: rgba(250,166,26,0.1);
	--background-help-info: rgba(0,103,224,0.1);
	--scrollbar-thin-thumb: rgba(79,84,92,0.3);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #ccc;
	--scrollbar-auto-track: #f2f2f2;
	--scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
	--scrollbar-auto-scrollbar-color-track: #f2f3f5;
	--elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
	--elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
	--elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
	--elevation-high: 0 8px 16px rgba(0,0,0,0.16);
	--logo-primary: var(--sidebar);
	--focus-primary: #00b0f4;
	--guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
	--channeltextarea-background: rgba(0,0,0,0.1);
	--activity-card-background: #fff;
	--textbox-markdown-syntax: #6a7480;
	--deprecated-card-bg: #f8f9f9;
	--deprecated-card-editable-bg: rgba(246,246,247,0.6);
	--deprecated-store-bg: #f8f9f9;
	--deprecated-quickswitcher-input-background: #fff;
	--deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
	--deprecated-text-input-bg: rgba(79,84,92,0.02);
	--deprecated-text-input-border: rgba(79,84,92,0.3);
	--deprecated-text-input-border-hover: #b9bbbe;
	--deprecated-text-input-border-disabled: #dcddde;
	--deprecated-text-input-prefix: #b9bbbe;
}


.theme-dark {
	--header-primary: #fff;
	--header-secondary: #eee;
	--text-normal: #dcddde;
	--text-muted: #eee;
	--text-link: #b1d8e7;
	--channels-default: #eee;
	--interactive-normal: #e4e4e4;
	--interactive-hover: #dcddde;
	--interactive-active: #fff;
	--interactive-muted: #eee;
	--background-primary: #2a2e31;
	--background-secondary: #232629;
	--background-secondary-alt: #1b1e20;
	--background-tertiary: #18191b;
	--background-accent: #32353a;
	--background-floating: #202225;
	--background-mobile-primary: #2e3136;
	--background-mobile-secondary: #2f3136;
	--background-modifier-hover: rgba(255,255,255,0.16);
	--background-modifier-active: rgba(255,255,255,0.24);
	--background-modifier-selected: rgba(255,255,255,0.32);
	--background-modifier-accent: hsla(0,0%,100%,0.06);
	--background-mentioned: rgba(250,166,26,0.05);
	--background-mentioned-hover: rgba(250,166,26,0.08);
	--background-message-hover: rgba(4,4,5,0.07);
	--background-help-warning: rgba(250,166,26,0.1);
	--background-help-info: rgba(0,176,244,0.1);
	--scrollbar-thin-thumb: rgba(255,255,255,0.3);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #202225;
	--scrollbar-auto-track: #2e3338;
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
	--elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
	--elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
	--elevation-high: 0 8px 16px rgba(0,0,0,0.24);
	--logo-primary: #fff;
	--focus-primary: #00b0f4;
	--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	--channeltextarea-background: #40444b;
	--activity-card-background: #202225;
	--textbox-markdown-syntax: #8e9297;
	--deprecated-card-bg: rgba(32,34,37,0.6);
	--deprecated-card-editable-bg: rgba(32,34,37,0.3);
	--deprecated-store-bg: #36393f;
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
	--deprecated-text-input-bg: rgba(0,0,0,0.1);
	--deprecated-text-input-border: rgba(0,0,0,0.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
}

.standardSidebarView-3F1I7i, .standardSidebarView-3F1I7i *{
  color: #171718;
}

.circleIconButton-jET_ig{
  background-color: #232629;
}

.childWrapper-anI2G9{
  background-color: #232629;
}

.item-2hkk8m{
  background-color: #fcfcfc;
}

.grid-1nZz7S.hasThumbnail-3FJf1w{
  background-color: #5f646b;
}

.markup-2BOw-j code.inline{
  background-color: #5f646b;
}

.grid-1nZz7S{
  background-color: #373c41;
}

.markup-2BOw-j code{
  background-color: #2f3036;
}

/*swag member-chat idk what to call it*/
.members-1998pB {
  border-radius: 15px 15px 0 0 !important;
  top: -10px;
}
.membersWrap-2h-GB4, .members-1998pB {
  left: 15px;
  margin-right: 10px
}
.chat-3bRxxu {
  background: var(--background-tertiary);
}
.chatContent-a9vAAp {
  background-color: var(--background-primary);
  border-radius: 0 15px 0 0 !important;
  left: 25px;
  margin-left: -25px
}


.px-10SIf7.botTag-2WPJ74 {
  height: 15px;
  padding: 0 4px;
  margin-top: 1px;
  padding-right: 0px;
  border-radius: 3px;
}

span.botText-1526X_::before {
  font-family: "Font Awesome 5 Pro" !important;
  content: "\f544";
  font-weight: 900;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}

span.botText-1526X_ {
  visibility: hidden;
  position: relative;
}

.bannerImage-1jOskm:before
{
    background: linear-gradient(0deg,var(--background-secondary) 3%,transparent 66%, rgba(0,0,0,0.5) 100%);
    height: 100%;
}
.animatedContainer-1pJv5C
{
    box-shadow: none !important;
}
.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}

.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}

div[class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyCenter-3D2jYp alignCenter-1dQNNs noWrap-3jynv6"][style="flex: 1 1 auto;"]{
  background-color: var(--background-secondary);
  border-radius: 30px;
}

.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
  border-radius: 15px 15px 0 0 !important
}

.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
  position: relative;
  left: 5px;
  padding-right: 5px
}

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/* Align topbar buttons to the left */
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

.titleBar-AC4pGV.directionRowReverse-m8IjIq {
  flex-direction: row;
}

.winButtonMinMax-PBQ2gm, .winButtonClose-1HsbF- {
  margin: 0;
  width: 22px;
  right: -5px;
}

.winButtonClose-1HsbF- {
  order: 1;
}

.winButtonMinMax-PBQ2gm[aria-label="Maximize"] {
  order: 2;
}

.winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
  order: 3;
}

.wordmarkWindows-1v0lYD {
  position: relative;
  padding-top: 0;
  padding-left: 4px;
  order: 4;
}

.platform-win .typeWindows-1za-n7 {
  height: 9px;
  margin-top: 0;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  background: 0 0
}


/* Compressed Search Bar */
.search-2oPWTC .searchBar-3dMhjb {width:30px;transition-duration:600ms;}
.search-2oPWTC .searchBar-3dMhjb:hover {width:260px;}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb {width: 260px !important;}


@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);

.wordmark-2iDDfm:after {
  content: "";
  font-size: 14px;
  font-weight: 700;
  position: linear;
  top: 5px;
  padding-left: -3px;
  font-family: "Discord";
}
.wordmark-2iDDfm > svg{
  width: 0px;
}

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/* mac buttons for cool people */
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/


.typeWindows-1za-n7 {
  background-color: transparent;
}
.winButton-iRh8-Z {
  margin-top: 6px;
  top: 10px;
  margin-right: 5px;
  opacity: 0.8;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  right: -12px;
}

.winButton-iRh8-Z svg {
  display: none;
}

.winButtonClose-1HsbF- {
  background-color: #FF605C;
}

.winButtonMinMax-PBQ2gm:nth-child(3) {
  background-color:  #FFBD44;
}

.winButtonMinMax-PBQ2gm:nth-child(4) {
  background-color:  #00CA4E; 
}

.scroller-2TZvBN {
  margin-top: 40px;
}

.membersWrap-2h-GB4 {
  margin-top: 10px !important;
}


/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
                   /*Custom Front*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/


/* Profile Icon */
.avatarWrapper-2yR4wp{
  position: relative;
  right: -80px 
}
.title-eS5yk3 {
  position: relative;
  top: 300px;
}
.subtext-3CDbHg {
  position: relative;
  top: 300px;
}
.nameTag-3uD-yy.canCopy-2VBT7N {
  position: relative;
  top: 300px;
}
/* Fly in Voice Chat buttons fix */
.panels-j1Uci_ .container-3baos1 button[aria-checked="false"], .panels-j1Uci_ .container-3baos1 button:not([role="switch"]) {
    transition: 0.2s ease-in-out;
    width: 0px !important;
    overflow: hidden !important;
    opacity: 0 !important;
}
.panels-j1Uci_ .container-3baos1:hover button.button-14-BFJ {
    transition: 0.2s ease-in-out;
    width: 32px !important;
    overflow: visible !important;
    opacity: 1 !important;
}

.avatar-1BDn8e.clickable-1bVtEA{
  padding: 10px;
  border-radius: 20px;
  height: 35px !important;
  width: 35px !important;
}

/* new friends list thing ew with animation*/
.peopleListItem-2nzedh {
  background-color: transparent;
}

/** Blurple channel unread marker **/
.unread-3zKkbm {
  background-color: #7289da;
  width: 4px;
  height: 28px;
  margin-top: -15px;
  border-radius: 0px 4px 4px 0;
}

.content-3at_AU,  .layout-2DM8Md {
  border-radius: 50px;
}


/* Better roles */
.role-2irmRk {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 5px;
}
.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  pointer-events: none;
}
.footer-1fjuF6 {
  border-top: none;
}

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/


.peopleListItem-2nzedh:hover {
  transition: all 0.3s ease;
  transform: translateX(-0.5em);
  border-right: solid 0.3em #fcfcfc;
  border-bottom: solid 1px rgba(226, 222, 222, 0.993);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
  background-color: #313238;
}
:root {
  --bubble-color: var(--background-tertiary);
  --bubble-padding: 5px 8px;
  --bubble-arrow-size: 5px;
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--bubble-color);
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: var(--bubble-padding);
  border-radius: 5px;
  position: relative;
  overflow: visible;
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j blockquote,
.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j pre {
  max-width: unset;
}

.groupStart-23k01U.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j {
  border-top-left-radius: 0;
}
.groupStart-23k01U.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j::before {
  content: '';
  display: block;
  border-style: solid;
  border-width: 0 var(--bubble-arrow-size) var(--bubble-arrow-size) 0;
  border-color: transparent var(--bubble-color) transparent transparent;
  position: absolute;
  left: calc(var(--bubble-arrow-size) * -1);
  top: 0;
}

/*1.e. Tooltips*/

#app-mount .tooltip-2QfLtc,
.bd-tooltip,
.toolbar-2bjZV7,
.bubble-3we2di,
.search-36MZv-:hover .search-2oPWTC::after {
    background: #3c3c44 !important;
    color: #fefeff;
}

#app-mount .tooltipPointer-3ZfirK,
.toolbar-2bjZV7:before,
.bubble-3we2di:before,
.search-36MZv-:hover .search-2oPWTC::before {
    display:none;
}

.moreUsers-7v8yWY,
.userTooltip-7qZaHD,
.toolbar-2bjZV7 .button-qqmJ7w svg {
    color: #d6d619 !important;

}


/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

/* Cleaner status picker with gradient buttons */

#status-picker .separator-2I32lJ, #status-picker .description-2L932D {
  display: none;
}
#status-picker .focused-3afm-j {
  background: linear-gradient(45deg, #2b45a2, #7289da);
}
#status-picker .focused-3afm-j#status-picker-online {
  background: linear-gradient(45deg, #21583f, #43b581);
}
#status-picker .focused-3afm-j#status-picker-idle {
  background: linear-gradient(45deg, #915c03, #faa61a);
}
#status-picker .focused-3afm-j#status-picker-dnd {
  background: linear-gradient(45deg, #aa0e0e, #f04747);
}
#status-picker .focused-3afm-j#status-picker-invisible {
  background: linear-gradient(45deg, #3a4047, #747f8d);
}

/* Pings */
.numberBadge-2s8kKX {
  animation: animatedPing 1.5s infinite ease-in-out;
}


/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
              /*Liam The Protogen#2501*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

/* Pings */
.numberBadge-2s8kKX {
  animation: animatedPing 1.5s infinite ease-in-out;
}

@keyframes animatedPing {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg) scale(1.2);
  }

  100% {
    transform: rotate(-15deg);
  }
}

/* Modals*/
[role="dialog"] {
  animation: Modal 1000ms linear both;
}

@keyframes Modal {
  0% {
    transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* Channel Mute button */
.iconWrapper-2OrFZ1[role="switch"]:hover {
  animation: Notif 1.5s infinite ease-in-out;
}

@keyframes Notif {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg) scale(1.01);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* Call Button */
.iconWrapper-2OrFZ1[aria-label="Start Voice Call"]:hover .icon-22AiRD {
  animation: CallButton 1500ms infinite linear both;
}

@keyframes CallButton {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.87% {
    transform: matrix3d(
      1.05,
      0.24,
      0,
      0,
      -0.24,
      1.05,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  5.74% {
    transform: matrix3d(
      1.05,
      0.423,
      0,
      0,
      -0.423,
      1.05,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  6.57% {
    transform: matrix3d(
      1.046,
      0.458,
      0,
      0,
      -0.458,
      1.046,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  6.67% {
    transform: matrix3d(
      1.046,
      0.462,
      0,
      0,
      -0.462,
      1.046,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  8.61% {
    transform: matrix3d(
      1.145,
      0.17,
      0,
      0,
      -0.17,
      1.145,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  9.54% {
    transform: matrix3d(
      1.161,
      0.024,
      0,
      0,
      -0.024,
      1.161,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  11.48% {
    transform: matrix3d(
      1.139,
      -0.238,
      0,
      0,
      0.238,
      1.139,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  12.41% {
    transform: matrix3d(
      1.115,
      -0.334,
      0,
      0,
      0.334,
      1.115,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  13.23% {
    transform: matrix3d(
      1.091,
      -0.402,
      0,
      0,
      0.402,
      1.091,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  13.33% {
    transform: matrix3d(
      1.088,
      -0.409,
      0,
      0,
      0.409,
      1.088,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  15.28% {
    transform: matrix3d(
      1.147,
      -0.166,
      0,
      0,
      0.166,
      1.147,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  16.2% {
    transform: matrix3d(
      1.157,
      -0.038,
      0,
      0,
      0.038,
      1.157,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  18.14% {
    transform: matrix3d(
      1.136,
      0.204,
      0,
      0,
      -0.204,
      1.136,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  18.89% {
    transform: matrix3d(
      1.119,
      0.279,
      0,
      0,
      -0.279,
      1.119,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  19.07% {
    transform: matrix3d(
      1.114,
      0.296,
      0,
      0,
      -0.296,
      1.114,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  19.9% {
    transform: matrix3d(
      1.093,
      0.364,
      0,
      0,
      -0.364,
      1.093,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  20% {
    transform: matrix3d(
      1.09,
      0.372,
      0,
      0,
      -0.372,
      1.09,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  21.94% {
    transform: matrix3d(
      1.142,
      0.135,
      0,
      0,
      -0.135,
      1.142,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  22.87% {
    transform: matrix3d(
      1.15,
      0.012,
      0,
      0,
      -0.012,
      1.15,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  24.81% {
    transform: matrix3d(
      1.128,
      -0.219,
      0,
      0,
      0.219,
      1.128,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  25.55% {
    transform: matrix3d(
      1.112,
      -0.291,
      0,
      0,
      0.291,
      1.112,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  25.74% {
    transform: matrix3d(
      1.107,
      -0.307,
      0,
      0,
      0.307,
      1.107,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  26.29% {
    transform: matrix3d(
      1.094,
      -0.352,
      0,
      0,
      0.352,
      1.094,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  26.57% {
    transform: matrix3d(
      1.087,
      -0.372,
      0,
      0,
      0.372,
      1.087,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  26.67% {
    transform: matrix3d(
      1.085,
      -0.379,
      0,
      0,
      0.379,
      1.085,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  28.61% {
    transform: matrix3d(
      1.141,
      -0.138,
      0,
      0,
      0.138,
      1.141,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  29.54% {
    transform: matrix3d(
      1.149,
      -0.013,
      0,
      0,
      0.013,
      1.149,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  31.48% {
    transform: matrix3d(
      1.128,
      0.221,
      0,
      0,
      -0.221,
      1.128,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  32.22% {
    transform: matrix3d(
      1.112,
      0.293,
      0,
      0,
      -0.293,
      1.112,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  32.41% {
    transform: matrix3d(
      1.107,
      0.309,
      0,
      0,
      -0.309,
      1.107,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  32.96% {
    transform: matrix3d(
      1.094,
      0.354,
      0,
      0,
      -0.354,
      1.094,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  33.23% {
    transform: matrix3d(
      1.087,
      0.375,
      0,
      0,
      -0.375,
      1.087,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  33.33% {
    transform: matrix3d(
      1.085,
      0.382,
      0,
      0,
      -0.382,
      1.085,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  35.28% {
    transform: matrix3d(
      1.046,
      0.299,
      0,
      0,
      -0.299,
      1.046,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  36.2% {
    transform: matrix3d(
      1.031,
      0.25,
      0,
      0,
      -0.25,
      1.031,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  38.14% {
    transform: matrix3d(
      1.004,
      0.152,
      0,
      0,
      -0.152,
      1.004,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  38.89% {
    transform: matrix3d(
      0.994,
      0.119,
      0,
      0,
      -0.119,
      0.994,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  39.07% {
    transform: matrix3d(
      0.992,
      0.112,
      0,
      0,
      -0.112,
      0.992,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  39.63% {
    transform: matrix3d(
      0.986,
      0.091,
      0,
      0,
      -0.091,
      0.986,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  41.11% {
    transform: matrix3d(
      0.973,
      0.044,
      0,
      0,
      -0.044,
      0.973,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  41.94% {
    transform: matrix3d(
      0.968,
      0.025,
      0,
      0,
      -0.025,
      0.968,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  44.81% {
    transform: matrix3d(
      0.961,
      -0.014,
      0,
      0,
      0.014,
      0.961,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  45.55% {
    transform: matrix3d(
      0.962,
      -0.018,
      0,
      0,
      0.018,
      0.962,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  46.29% {
    transform: matrix3d(
      0.962,
      -0.021,
      0,
      0,
      0.021,
      0.962,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  47.77% {
    transform: matrix3d(
      0.965,
      -0.022,
      0,
      0,
      0.022,
      0.965,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  52.22% {
    transform: matrix3d(
      0.974,
      -0.012,
      0,
      0,
      0.012,
      0.974,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  52.96% {
    transform: matrix3d(
      0.975,
      -0.01,
      0,
      0,
      0.01,
      0.975,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  54.44% {
    transform: matrix3d(
      0.977,
      -0.006,
      0,
      0,
      0.006,
      0.977,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  55.99% {
    transform: matrix3d(
      0.978,
      -0.003,
      0,
      0,
      0.003,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  59.63% {
    transform: matrix3d(
      0.979,
      0.001,
      0,
      0,
      -0.001,
      0.979,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  61.11% {
    transform: matrix3d(
      0.978,
      0.001,
      0,
      0,
      -0.001,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  62.66% {
    transform: matrix3d(
      0.978,
      0.001,
      0,
      0,
      -0.001,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  66.67% {
    transform: matrix3d(
      0.978,
      0.001,
      0,
      0,
      -0.001,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  67.77% {
    transform: matrix3d(
      0.978,
      0.001,
      0,
      0,
      -0.001,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  69.32% {
    transform: matrix3d(0.978, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  73.33% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  74.44% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.99% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  80% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  82.66% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  86.67% {
    transform: matrix3d(0.978, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  89.32% {
    transform: matrix3d(0.978, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  93.33% {
    transform: matrix3d(0.978, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* User Modal Buttons */
.button-14-BFJ:hover .contents-18-Yxp {
  animation: UserModalButtons 0.5s normal ease;
}

.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
}

.button-14-BFJ {
  transition: 0.2s;
}

.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;
}

@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Settings Button */
.button-14-BFJ[aria-label="User Settings"]:hover .contents-18-Yxp {
  animation: rotate 3s infinite;
}
